.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    line-height: 13px;
    border: 3px solid rgb(124, 118, 118);
    margin: 10px;
}
.developers-container{
    border-right: 1px solid rgb(182, 181, 181);
    margin: 5px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-right: 20px;
    padding-left: 9px;
    padding-top: 20px;
}
.total-container{
    text-align: center;
    background-color: rgba(117, 109, 109, 0.123);
   color:rgb(121, 13, 67);
   padding: 20px;
   margin: 35px 20px 0px 20px;
}